<p>Student ID: {{studentId}}</p>

<!--
<p>Student Name: {{student.firstName}}</p>
<p>Student Last Name: {{student.lastName}}</p>
-->

<p>Student Name: {{student?.firstName ?? "N/A"}}</p>
<p>Student Last Name: {{student?.lastName ?? "N/A"}}</p>


<table [dataSource]="semesters!" class="mat-elevation-z8" mat-table matSort>


  <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef mat-sort-header>ID</mat-header-cell>
    <mat-cell *matCellDef="let semester">{{ semester.id }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="academicYear">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Academic Year</mat-header-cell>
    <mat-cell *matCellDef="let semester">{{ semester.academicYearName }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="yearOfStudy">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Year Of Study</mat-header-cell>
    <mat-cell *matCellDef="let semester">{{ semester.yearOfStudy }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="renewal">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Renewal</mat-header-cell>
    <mat-cell *matCellDef="let semester">{{ semester.renewal }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="winterSemester">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Winter Semester</mat-header-cell>
    <mat-cell *matCellDef="let semester">{{ semester.dateOfEnrollment | date:'yyyy-MM-dd' }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="recordedBy">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Recorded By</mat-header-cell>
    <mat-cell *matCellDef="let semester">{{ semester.recordedByName }}</mat-cell>
  </ng-container>


  <!-- Table Header and Rows -->
  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;" [class.obrisano]="row.isDeleted"></mat-row>
</table>


<button color="primary" mat-raised-button (click)="navigateToNewSemester()">ENROLL IN WINTER SEMESTER</button>
