<h3>{{'NEW-SEMESTER.TITLE' | translate}}{{student?.firstName ?? "Nema imena"}} {{student?.lastName ?? "Nema prezimena"}}</h3>


<mat-card class="student-form-card">
  <form (ngSubmit)="saveSemester()" [formGroup]="semesterForm">

    <app-my-input-text myControlName="yearOfStudy" myLabel="{{'NEW-SEMESTER.YEAROFSTUDY' | translate}}" myPlaceholder="Enter year of study"></app-my-input-text>
    <app-my-dropdown [options]="academicYears" myControlName="academicYearId" myLabel="{{'NEW-SEMESTER.ACADEMICYEAR' | translate}}"></app-my-dropdown>
    <app-my-input-text myControlName="price" myLabel="{{'NEW-SEMESTER.PRICE' | translate}}" myPlaceholder="Enter price"></app-my-input-text>

    <mat-checkbox formControlName="renewal">{{'NEW-SEMESTER.RENEWAL' | translate}}</mat-checkbox>



    <div class="form-buttons">
      <button [disabled]="semesterForm.invalid" color="primary" mat-raised-button type="submit">Save Changes</button>
      <button color="warn" mat-raised-button routerLink="/admin/students/semesters/{{studentId}}" type="button">Cancel</button>
    </div>
  </form>
</mat-card>
